PORT=5000
# Supabase pooler connection string for IPv4 networks like Render.
DATABASE_URL=postgresql://postgres.brjnmblutknpsbosiymy:database123...A12@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
JWT_SECRET=change_this_secret
ADMIN_USER_ID=admin
ADMIN_PASSWORD=change_this_password
